.forgot-form{
    width: 100%;
    max-width: 650px;
    padding: 15px;
    margin-top: 50px;
    margin-left: 400px;
    color: whitesmoke;
    font-family: serif;
    max-height: 230px;
}

.bgshade{
    background:linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      );
}

.jum{
    margin-top: 20px;
    padding: 50px;
}

.reset-b{
    margin-left: 160px;
    margin-top: 40px;
}